swagger: "2.0"
info:
  title: beego Test API
  description: beego has a very cool tools to autogenerate documents for your API
  version: 1.0.0
  termsOfService: http://beego.me/
  contact:
    email: astaxie@gmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
basePath: /v1
paths:
  /campo_programa/:
    get:
      tags:
      - campo_programa
      description: get CampoPrograma
      operationId: CampoProgramaController.Get All
      parameters:
      - in: query
        name: query
        description: Filter. e.g. col1:v1,col2:v2 ...
        type: string
      - in: query
        name: fields
        description: Fields returned. e.g. col1,col2 ...
        type: string
      - in: query
        name: sortby
        description: Sorted-by fields. e.g. col1,col2 ...
        type: string
      - in: query
        name: order
        description: Order corresponding to each sortby field, if single value, apply
          to all sortby fields. e.g. desc,asc ...
        type: string
      - in: query
        name: limit
        description: Limit the size of result set. Must be an integer
        type: string
      - in: query
        name: offset
        description: Start position of result set. Must be an integer
        type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.CampoPrograma'
        "403":
          description: ""
    post:
      tags:
      - campo_programa
      description: create CampoPrograma
      operationId: CampoProgramaController.Post
      parameters:
      - in: body
        name: body
        description: body for CampoPrograma content
        required: true
        schema:
          $ref: '#/definitions/models.CampoPrograma'
      responses:
        "201":
          description: '{int} models.CampoPrograma'
        "403":
          description: body is empty
  /campo_programa/{id}:
    get:
      tags:
      - campo_programa
      description: get CampoPrograma by id
      operationId: CampoProgramaController.Get One
      parameters:
      - in: path
        name: id
        description: The key for staticblock
        required: true
        type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.CampoPrograma'
        "403":
          description: :id is empty
    put:
      tags:
      - campo_programa
      description: update the CampoPrograma
      operationId: CampoProgramaController.Put
      parameters:
      - in: path
        name: id
        description: The id you want to update
        required: true
        type: string
      - in: body
        name: body
        description: body for CampoPrograma content
        required: true
        schema:
          $ref: '#/definitions/models.CampoPrograma'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.CampoPrograma'
        "403":
          description: :id is not int
    delete:
      tags:
      - campo_programa
      description: delete the CampoPrograma
      operationId: CampoProgramaController.Delete
      parameters:
      - in: path
        name: id
        description: The id you want to delete
        required: true
        type: string
      responses:
        "200":
          description: '{string} delete success!'
        "403":
          description: id is empty
  /formulario_programa/:
    get:
      tags:
      - formulario_programa
      description: get FormularioPrograma
      operationId: FormularioProgramaController.Get All
      parameters:
      - in: query
        name: query
        description: Filter. e.g. col1:v1,col2:v2 ...
        type: string
      - in: query
        name: fields
        description: Fields returned. e.g. col1,col2 ...
        type: string
      - in: query
        name: sortby
        description: Sorted-by fields. e.g. col1,col2 ...
        type: string
      - in: query
        name: order
        description: Order corresponding to each sortby field, if single value, apply
          to all sortby fields. e.g. desc,asc ...
        type: string
      - in: query
        name: limit
        description: Limit the size of result set. Must be an integer
        type: string
      - in: query
        name: offset
        description: Start position of result set. Must be an integer
        type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.FormularioPrograma'
        "403":
          description: ""
    post:
      tags:
      - formulario_programa
      description: create FormularioPrograma
      operationId: FormularioProgramaController.Post
      parameters:
      - in: body
        name: body
        description: body for FormularioPrograma content
        required: true
        schema:
          $ref: '#/definitions/models.FormularioPrograma'
      responses:
        "201":
          description: '{int} models.FormularioPrograma'
        "403":
          description: body is empty
  /formulario_programa/{id}:
    get:
      tags:
      - formulario_programa
      description: get FormularioPrograma by id
      operationId: FormularioProgramaController.Get One
      parameters:
      - in: path
        name: id
        description: The key for staticblock
        required: true
        type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.FormularioPrograma'
        "403":
          description: :id is empty
    put:
      tags:
      - formulario_programa
      description: update the FormularioPrograma
      operationId: FormularioProgramaController.Put
      parameters:
      - in: path
        name: id
        description: The id you want to update
        required: true
        type: string
      - in: body
        name: body
        description: body for FormularioPrograma content
        required: true
        schema:
          $ref: '#/definitions/models.FormularioPrograma'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.FormularioPrograma'
        "403":
          description: :id is not int
    delete:
      tags:
      - formulario_programa
      description: delete the FormularioPrograma
      operationId: FormularioProgramaController.Delete
      parameters:
      - in: path
        name: id
        description: The id you want to delete
        required: true
        type: string
      responses:
        "200":
          description: '{string} delete success!'
        "403":
          description: id is empty
  /tipo_estado/:
    get:
      tags:
      - tipo_estado
      description: get TipoEstado
      operationId: TipoEstadoController.Get All
      parameters:
      - in: query
        name: query
        description: Filter. e.g. col1:v1,col2:v2 ...
        type: string
      - in: query
        name: fields
        description: Fields returned. e.g. col1,col2 ...
        type: string
      - in: query
        name: sortby
        description: Sorted-by fields. e.g. col1,col2 ...
        type: string
      - in: query
        name: order
        description: Order corresponding to each sortby field, if single value, apply
          to all sortby fields. e.g. desc,asc ...
        type: string
      - in: query
        name: limit
        description: Limit the size of result set. Must be an integer
        type: string
      - in: query
        name: offset
        description: Start position of result set. Must be an integer
        type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.TipoEstado'
        "403":
          description: ""
    post:
      tags:
      - tipo_estado
      description: create TipoEstado
      operationId: TipoEstadoController.Post
      parameters:
      - in: body
        name: body
        description: body for TipoEstado content
        required: true
        schema:
          $ref: '#/definitions/models.TipoEstado'
      responses:
        "201":
          description: '{int} models.TipoEstado'
        "403":
          description: body is empty
  /tipo_estado/{id}:
    get:
      tags:
      - tipo_estado
      description: get TipoEstado by id
      operationId: TipoEstadoController.Get One
      parameters:
      - in: path
        name: id
        description: The key for staticblock
        required: true
        type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.TipoEstado'
        "403":
          description: :id is empty
    put:
      tags:
      - tipo_estado
      description: update the TipoEstado
      operationId: TipoEstadoController.Put
      parameters:
      - in: path
        name: id
        description: The id you want to update
        required: true
        type: string
      - in: body
        name: body
        description: body for TipoEstado content
        required: true
        schema:
          $ref: '#/definitions/models.TipoEstado'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.TipoEstado'
        "403":
          description: :id is not int
    delete:
      tags:
      - tipo_estado
      description: delete the TipoEstado
      operationId: TipoEstadoController.Delete
      parameters:
      - in: path
        name: id
        description: The id you want to delete
        required: true
        type: string
      responses:
        "200":
          description: '{string} delete success!'
        "403":
          description: id is empty
definitions:
  models.CampoPrograma:
    title: CampoPrograma
    type: object
    properties:
      Activo:
        type: boolean
      FechaModificacion:
        type: string
      FormularioPrograma:
        $ref: '#/definitions/models.FormularioPrograma'
      Id:
        type: integer
        format: int64
      Nombre:
        type: string
      Periodo:
        type: integer
        format: int64
      TipoEstado:
        $ref: '#/definitions/models.TipoEstado'
  models.FormularioPrograma:
    title: FormularioPrograma
    type: object
    properties:
      Activo:
        type: boolean
      CodigoAbreviacion:
        type: string
      Descripcion:
        type: string
      FechaModificacion:
        type: string
      Id:
        type: integer
        format: int64
      Nombre:
        type: string
      NumeroOrden:
        type: number
        format: double
      Programa:
        type: integer
        format: int64
  models.TipoEstado:
    title: TipoEstado
    type: object
    properties:
      Activo:
        type: boolean
      CodigoAbreviacion:
        type: string
      Descripcion:
        type: string
      FechaModificacion:
        type: string
      Id:
        type: integer
        format: int64
      Nombre:
        type: string
      NumeroOrden:
        type: number
        format: double
tags:
- name: tipo_estado
  description: |
    TipoEstadoController operations for TipoEstado
- name: formulario_programa
  description: |
    FormularioProgramaController operations for FormularioPrograma
- name: campo_programa
  description: |
    CampoProgramaController operations for CampoPrograma
